d/* Define the custom font */
@font-face {
    font-family: 'AkiraExpandedSuperBold';
    src: url('fonts/akira_expandedsuper_bold.woff2') format('woff2'),
         url('fonts/akira_expandedsuper_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Apply the custom font to the header */
h1 {
    text-align: center;
    margin-bottom: 20px;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
}

/* Example of other styles you may have */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'AkiraExpandedSuperBold', Arial, sans-serif !important;
    font-size: 16px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 8px;
}
