/* Define the custom font */
@font-face {
    font-family: 'AkiraExpandedSuperBold';
    src: url('fonts/akira_expandedsuper_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center !important ; /* Center align the text */
    margin-bottom: 20px;
    font-size: 10px; /* Adjust font size relative to viewport width */
}

/* Example of other styles you may have */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'AkiraExpandedSuperBold', Arial, sans-serif;
    font-size: 1rem; /* Set base font size */
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100%; /* Allow container to adjust to screen width */
    padding: 20px;
    text-align: center; /* Center align content within the container */
    margin: 0 auto; /* Center the container horizontally */
}

p {
    text-align: center;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 0 auto 20px;
    border-radius: 8px;
}

