/* Define the custom font */
@font-face {
    font-family: 'AkiraExpandedSuperBold';
    src: url('fonts/akira_expandedsuper_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center !important ; /* Center align the text */
    margin-bottom: 50px;
    font-size: 15px !important; 
}

/* Example of other styles you may have */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'AkiraExpandedSuperBold', Arial, sans-serif;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100%; /* Allow container to adjust to screen width */
    padding: 20px;
    text-align: center; /* Center align content within the container */
    margin: 0 auto; /* Center the container horizontally */
}

p {
    text-align: center;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 80%;
    height: auto;
    margin: 50px auto 20px;
    border-radius: 8px;
}

#downloadButton {
    cursor: pointer; /* Ensure the cursor changes on hover */
    /* Add more styles as needed */
    width: 30%; /* Set the button width to 30% of the screen width */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    display: block; /* Ensure the image is displayed as a block element */
    margin: 0 auto; /* Center the button horizontally */
}
